version: '3.3'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: simple-e-commerce-shopping-cart
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: simple-e-commerce-shopping-cart-db
    restart: always
    environment:
      POSTGRES_DB: simple-e-commerce-shopping-cart
      POSTGRES_USER: dbadmin
      POSTGRES_PASSWORD: P@ss123
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    container_name: simple-e-commerce-shopping-cart-nginx-server
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  node:
    image: node:20
    container_name: simple-e-commerce-shopping-cart-node
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"

volumes:
  pgdata: